body {
	background-color: white;
	padding: 0px;
	margin: 0px;
}

a {
	font-family: monospace;
	color: rgb(17, 0, 255);
}

.header {
	background-color: #eef3f4;
	padding: 10px;
}

.header .buttons {
	margin-bottom: 10px;
}

.header .infoline {
	font-family: monospace;
	color: rgb(91, 91, 91);
}

.content {
	padding: 15px;
}

.content pre {
	font-family: monospace;
	margin-top: 0;
	margin-bottom: 0;
}

.err {
	color: red;
	font-family: monospace;
}