/* :root {
	--content-width: 600px;
	--color-background: white;
	--color-background-header: #eef3f4;
	--color-primary: #1100ff;
	--color-primary-transparent: #1100ff1f;
	--color-error: red;
	--color-text: black;
	--color-text-light: rgb(91, 91, 91);
	font-family: monospace;
} */

:root {
	--content-width: 900px;
	--color-background-content: #1d1f1e;
	--color-background-header: #292b2b;
	--color-backdrop: #181a1a;
	--color-primary: #1856ff;
	--color-primary-transparent: #0058ff2e;
	--color-primary-light: #2b63fb;
	--color-error: rgb(255, 31, 31);
	--color-text: whitesmoke;
	--color-text-light: rgba(255, 255, 255, 0.33);
	font-family: monospace;
}

body {
	color: var(--color-text);
	background-color: var(--color-backdrop);
	padding: 0px;
	margin: 0px;
}

a {
	color: var(--color-primary);
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

a:hover {
	text-decoration: underline var(--color-primary) 1px;
	color: var(--color-primary-light);
}

a[thispage] {
	color: var(--color-primary);
	background-color: var(--color-primary-transparent);
	text-decoration: none;
	cursor: default;
}

button {
	color: var(--color-primary);
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

button:hover {
	background-color: var(--color-primary-transparent);
}

button:disabled {
	color: var(--color-text-light);
	background-color: transparent;
}

.filepicker {
	cursor: pointer;
}

.dropzone {
	height: 5rem;
	background-color: red;
}

textarea {
	width: 100%;
	resize: vertical;
	border: 0;
	outline: none;
	padding: 3px;
	color: var(--color-text);
	background-color: var(--color-backdrop);
}

textarea::placeholder {
	color: var(--color-text-light);
}

.navbar {
	margin-bottom: 10px;
}

.buttongroup {
	margin: 3px;
}

.container {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: column;
	height: 100vh;
}

.header {
	background-color: var(--color-background-header);
	box-shadow: 0 0px 10px 0px #0505054d;
	padding-top: 0.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1.25rem;
	z-index: 1;
}

.header-infoline {
	color: var(--color-text-light);
}

.header-infoline-filesize {
	float: right;
}

.content {
	background-color: var(--color-background-content);
	padding: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;;
	flex-grow: 1;
}

.content-embed {
	white-space: pre-wrap
}

.error-text {
	color: var(--color-error);
}