/* :root {
	--content-width: 600px;
	--color-background: white;
	--color-background-header: #eef3f4;
	--color-primary: #1100ff;
	--color-primary-transparent: #1100ff1f;
	--color-error: red;
	--color-text: black;
	--color-text-light: rgb(91, 91, 91);
	font-family: monospace;
} */

:root {
	--content-width: 900px;
	--color-background-content: #1d1f1e;
	--color-background-header: #292b2b;
	--color-backdrop: #181a1a;
	--color-primary: #1755ff;
	--color-primary-dark: #043dda;
	--color-primary-transparent: #0058ff2e;
	--color-primary-light: #1774ff;
	--color-error: rgb(255, 31, 31);
	--color-text: whitesmoke;
	--color-text-light: rgba(255, 255, 255, 0.413);
	font-family: consolas;
}

body {
	color: var(--color-text);
	background-color: var(--color-backdrop);
	padding: 0px;
	margin: 0px;
}

a {
	color: var(--color-primary);
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

a:hover {
	text-decoration: underline 1px;
	color: var(--color-primary-light);
}

a[thispage] {
	color: var(--color-primary);
	background-color: var(--color-primary-transparent);
}

button {
	color: var(--color-primary);
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

button:hover {
	background-color: var(--color-primary-transparent);
}

button:disabled {
	color: var(--color-text-light);
	background-color: transparent;
}

.filepicker {
	cursor: pointer;
}

.dropzone {
	height: 5rem;
	background-color: red;
}

textarea {
	width: 100%;
	resize: vertical;
	border: 0;
	outline: none;
	padding: 3px;
	color: var(--color-text);
	background-color: var(--color-backdrop);
}

textarea::placeholder {
	color: var(--color-text-light);
}

.navbar {
	margin-bottom: 10px;
}

.buttongroup {
	margin: 3px;
}

.container {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: column;
	height: 100vh;
}

.header {
	background-color: var(--color-background-header);
	box-shadow: 0 0px 10px 0px #0505054d;
	padding-top: 0.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1.25rem;
	z-index: 1;
}

.header-infoline {
	color: var(--color-text-light);
}

.header-infoline-filesize {
	float: right;
}

.content {
	background-color: var(--color-background-content);
	padding: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;;
	flex-grow: 1;
}

.content-embed {
	white-space: pre-wrap
}

.error-text {
	color: var(--color-error);
}

.loading-spinner {
	display: none;
	overflow: hidden;
	height: 1.3em;
	margin-top: -0.3em;
	line-height: 1.5em;
	vertical-align: text-bottom;
}

.loading-spinner::after {
	display: inline-table;
  	white-space: pre;
  	text-align: left;
	content:"*\A+\A#\A]\A|\A{\A?\A~\A+\A'";
	animation: spin10 0.5s steps(10) infinite;
}

.htmx-request.loading-spinner {
	display: inline-block;
}

@keyframes spin1  { to { transform: translateY( -1.5em); } }
@keyframes spin2  { to { transform: translateY( -3.0em); } }
@keyframes spin3  { to { transform: translateY( -4.5em); } }
@keyframes spin4  { to { transform: translateY( -6.0em); } }
@keyframes spin5  { to { transform: translateY( -7.5em); } }
@keyframes spin6  { to { transform: translateY( -9.0em); } }
@keyframes spin7  { to { transform: translateY(-10.5em); } }
@keyframes spin8  { to { transform: translateY(-12.0em); } }
@keyframes spin9  { to { transform: translateY(-13.5em); } }
@keyframes spin10 { to { transform: translateY(-15.0em); } }
@keyframes spin11 { to { transform: translateY(-16.5em); } }
@keyframes spin12 { to { transform: translateY(-18.0em); } }