<html>
<p><TMPL_VAR NAME=TIME ESCAPE=HTML> - <TMPL_VAR NAME=FILENAME ESCAPE=HTML></p>
<p>
	<a href="/" download="<TMPL_VAR NAME=FILENAME ESCAPE=HTML>">download</a>
	<a href="/" >raw</a>
	<TMPL_IF NAME="EMBED"><a href="javascript:copy_embed();" >copy</a></TMPL_IF>
</p>

<TMPL_IF NAME="EMBED">
<pre id="embed_text"><TMPL_VAR NAME=EMBED ESCAPE=HTML></pre>
<TMPL_ELSE>
<a href="/" download="<TMPL_VAR NAME=FILENAME ESCAPE=HTML>"><TMPL_VAR NAME=FILENAME ESCAPE=HTML></a>
</TMPL_IF>
<script>
function copy_embed (){
	const text = document.getElementById("embed_text").innerText;
	navigator.clipboard.writeText(text);
	alert("text clipped!");
}
</script>
</html>