<html>
<head>
	<link rel="stylesheet" href="/style">
	<title>mclip ~</title>
</head>
<body>
<div class="header">
	<div>
		<div class="buttons">
			<a thispage href="/ui">clipboard</a>
			<a href="/ui/text">text</a>
			<a href="/ui/file">file</a>
			<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>" download="<TMPL_VAR NAME=FILENAME ESCAPE=HTML>">download</a>
			<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>">raw</a>
		</div>
		<div class="infoline">
			<span><TMPL_VAR NAME=TIME ESCAPE=HTML> <TMPL_VAR NAME=FILENAME ESCAPE=HTML></span>
			<span class="filesize"><TMPL_VAR NAME=SIZE ESCAPE=HTML></span>
		</div>
	</div>
</div>
<div class="content">
<TMPL_IF NAME="EMBED">
	<div class="text-content"><TMPL_VAR NAME=EMBED ESCAPE=HTML></div>
<TMPL_ELSE>
	<div>
		<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>"><TMPL_VAR NAME=FILENAME ESCAPE=HTML></a>
	</div>
</TMPL_IF>
</div>
</body>
</html>