<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/style">
	<title>mclip</title>
</head>

<body>
	<div class="container">
		<div class="header">
			<div class="navbar">
				<a thispage href="/ui">clipboard</a>
				<a href="/ui/upload">upload</a>
				<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>"
					download="<TMPL_VAR NAME=FILENAME ESCAPE=HTML>">download</a>
				<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>">raw</a>
			</div>
			<div class="header-infoline">
				<span>
					<TMPL_VAR NAME=TIME ESCAPE=HTML>
					<TMPL_VAR NAME=FILENAME ESCAPE=HTML>
				</span>
				<span class="header-infoline-filesize">
					<TMPL_VAR NAME=SIZE ESCAPE=HTML>
				</span>
			</div>
		</div>
		<div class="content">
			<TMPL_IF NAME="EMBED">
				<div class="content-embed"><TMPL_VAR NAME=EMBED ESCAPE=HTML></div>
			<TMPL_ELSE>
				<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>">
					<TMPL_VAR NAME=FILENAME ESCAPE=HTML>
				</a>
			</TMPL_IF>
		</div>
	</div>
</body>

</html>