<html>
<head>
	<link rel="stylesheet" href="/style">
	<title>mclip ~</title>
</head>
<body>
	<div class="header">
		<div>
			<div class="buttons">
				<a href="/ui">clipboard</a>
				<a href="/ui/text">text</a>
				<a thispage href="/ui/file">file</a>
				<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>" download="<TMPL_VAR NAME=FILENAME ESCAPE=HTML>">download</a>
				<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>">raw</a>
				<a href="/ui/info">info</a>
			</div>
			<div class="infoline">
				upload a file
			</div>
		</div>
	</div>
<div class="content">
<div><input type="file" id="file">
<p id="error" class="err"></p>
</div>
</div>


<script>
const $input = document.querySelector('#file');
const $err = document.querySelector('#error');
$input.addEventListener('change', event => {
	$input.disabled = true;
	fetch('/data', {
		method: 'post',
		body: event.target.files[0],
		headers: new Headers({
			"Content-Type": $input.files[0].type,
			"Content-Disposition" : "filename=\"" + $input.files[0].name + "\""
		})
	}).then(res => {
		if(res.status == 200){
			window.location.href = '/ui';
			return 0;
		}
		$input.disabled = false;
     	$err.innerHTML = "error: " + res.status;
	})
})
</script>
</body>
</html>