<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/style">
	<title>mclip</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="navbar">
				<a href="/ui">clipboard</a>
				<a thispage >upload</a>
				<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>" download="<TMPL_VAR NAME=FILENAME ESCAPE=HTML>">download</a>
				<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>">raw</a>
			</div>
			<div class="header-infoline">
				upload content
			</div>
		</div>
		<div class="content">
			<div class="navbar">
				<label class="filepicker">
					<input style="display: none;" type="file" id="file">
					<a>file</a>
				</label>
			</div>
			
			<textarea id="textarea" rows="6" spellcheck="false" placeholder="lorem ipsum ..."></textarea>
			<a id="btn_upload">upload</a>
			<a id="btn_clear">clear</a>
			<p id="error" class="error-text"></p>
		</div>
	</div>
<script>
const $input_file = document.querySelector('#file');
const $input_text = document.querySelector('#textarea');
const $err = document.querySelector('#error');
const $btn_upload = document.querySelector('#btn_upload');
const $btn_clear = document.querySelector('#btn_clear');

$input_file.addEventListener('change', event => {
	$input_file.disabled = true;
	$input_text.disabled = true;
	fetch('/data', {
		method: 'post',
		body: event.target.files[0],
		headers: new Headers({
			"Content-Type": $input_file.files[0].type,
			"Content-Disposition" : "filename=\"" + $input_file.files[0].name + "\""
		})
	}).then(res => {
		if(res.status == 200){
			window.location.href = '/ui';
			return 0;
		}
		$input_file.disabled = false;
		$input_text.disabled = false;
     	$err.innerHTML = "error: " + res.status;
	})
})

// clear textarea
$btn_clear.addEventListener('click', event => {
	$input_text.value = "";
});

// upload text file
$btn_upload.addEventListener('click', event => {
	$input_file.disabled = true;
	$input_text.disabled = true;
	fetch('/data', {
		method: 'post',
		body: $input_text.value,
		headers: new Headers({
			"Content-Type": "text/plain"
		})
	}).then(res => {
		if(res.status == 200){
			window.location.href = '/ui';
			return 0;
		}
		$input_file.disabled = false;
		$input_text.disabled = false;
     	$err.innerHTML = "error: " + res.status;
	})
});

</script>
</body>
</html>