<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/style">
	<title>mclip</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="navbar">
				<a href="/ui">clipboard</a>
				<a thispage href="/ui/upload/text">upload</a>
				<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>" download="<TMPL_VAR NAME=FILENAME ESCAPE=HTML>">download</a>
				<a href="/data?<TMPL_VAR NAME=ETAG ESCAPE=HTML>">raw</a>
			</div>
			<div class="header-infoline">
				upload text snippet
			</div>
		</div>
		<div class="content">
			<div class="navbar">
				<a thispage href="/ui/upload/text">text</a> <a href="/ui/upload/file">file</a>
			</div>
			<textarea rows="6" id="t_area" spellcheck="false" placeholder="lorem ipsum ..."></textarea>
			<div class="buttongroup">
				<button id="b_upload">upload</button><button id="b_clear">clear</button>
			</div>
			<p id="status" class="error-text"></p>
		</div>
	</div>
<script>
const $tar = document.querySelector('#t_area');
const $bup = document.querySelector('#b_upload');
const $bclr = document.querySelector('#b_clear');
const $sts = document.querySelector('#status');
$bup.addEventListener('click', event => {
	$sts.innerHTML = "";
	$bup.disabled = true;
	fetch('/data', {
		method: 'post',
		body: $tar.value,
		headers: new Headers({
			"Content-Type": "text/plain"
		})
	}).then(res => {
		if(res.status == 200){
			window.location.href = '/ui';
			return 0;
		}
		$bup.disabled = false;
     	$sts.innerHTML = "error: " + res.status;
	})
})
$bclr.addEventListener('click', event => {
	$tar.value = "";
})
</script>
</body>
</html>